<app-header></app-header>
<div class="welcome py-1">
    <div class="container py-xl-1 py-lg-1" id="services">
        <div class="row">
            <div class=" welcome-left">
                <h3 class="title-w3ls mt-2 mb-3">Services provided by Shopo</h3>

                <p class="mt-4 pr-lg-5">

                    Shopo is a dynamic and user-friendly e-commerce platform that caters to the diverse needs of online
                    shoppers. Offering a seamless and enjoyable shopping experience, Shopo provides a vast array of
                    products ranging from fashion and electronics to home essentials. With its intuitive interface and
                    secure payment options, Shopo ensures a hassle-free and convenient online shopping journey for
                    customers. The platform is dedicated to connecting buyers with a curated selection of quality
                    products from reputable sellers, fostering a trustworthy marketplace. Whether you're looking for the
                    latest fashion trends or essential gadgets, Shopo is your go-to destination for all your online
                    shopping needs. Discover the joy of effortless and reliable shopping with Shopo's comprehensive
                    range of services.

                </p>
            </div>
        </div>
        <app-product-list></app-product-list>
    </div>
</div>